body{
  font-family: Arial, Verdana, Tahoma;
}
/* Select the main container 'div' element */
.main-container {
    /* Draw a lime green border 2px thick. */
    border-style: solid;
    border-width: 2px;
    border-color: red;
    /*Add space between the boarder and its inside elements. */
    padding: 10px;
    /* Color the background dark grey. */
    background: #373E42;
}
h1, h2, h3{
 font-family: sans-serif;
}

p {
 font-family: serif;
}
}
#line-sixety {
  font-weight: bold;
}
