/*This is the file, "fonts.css." */
@font-face {
font-family: 'Olswald';
src: url('fonts/Oswald-regular.ttf') format('opentype');
font-weight:700;
font-style: normal;
}


body{
  font-family: Arial, Verdana, Tahoma;
}

}
h1, h2, h3{
 font-family: sans-serif;
}

p {
 font-family: serif;
}
}
#line-sixety {
  font-weight: bold;
}

@font-face {
font-family: 'Olswald';
src: url('fonts/Oswald-regular.ttf') format('opentype');
font-weight:700;
font-style: normal;
}
